.cart-container{
    display: flex;
}

.cart-image{
    width: 150px;
    height: 200px;
}

.cart-title{
    width: 300px;
  padding-left: 40px;
 
}

.cart-title1{
    font-weight: 600;
}

.cart-description{
    padding-top: 15px;
}

.item-data{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.item-price{
    
    font-size: 20px;
    font-weight: 800;
    color: rgb(15, 124, 15);

}

.item-delete{
    width: 30px;
    height: 30px;
    background-color: rgb(85, 81, 81);
    border-radius: 50%;
    justify-content: center;
    padding-left: 7px;
    padding-top: 7px;
    cursor: pointer;
}